body.single-invoice {
    #single-invoice-section {
        margin-top: 40px;
        #back-button {
            margin-bottom: 30px;
            img {
                margin-right: 15px;
            }
            span {
                font-size: 14px;
            }
            &:hover {
                cursor: pointer;
            }
        }
    }
    .card-details {
        .operation-buttons {
            display: flex;
            justify-content: space-between;
            .invoice-button {
                padding: 10px 15px;
                text-transform: capitalize;
                font-size: 14px;
                border-radius: 5px;
                margin: 0 5px;
                &:hover {
                    cursor: pointer;
                }
                &.edit {
                    background-color: $grey;
                }
                &.delete {
                    background-color: $red;
                    color: $grey;
                }
                &.mark-paid {
                    background-color: $purple1;
                    color: $offwhite;
                }
            }
        }
    }
    #invoice-section {
        .invoice-details {
            background-color: #fff;
            border-radius: 10px;
            padding: 30px;

            .seller-info {
                display: flex;
                justify-content: space-between;
            }
            .buyer-info {
                display: flex;
                justify-content: space-between;
                .invoice-date {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }
            }
            .items-section {
                background-color: $grey;
                border-radius: 10px 10px 0 0;
                table {
                    margin-top: 30px;
                    // padding: 20px;
                    width: 100%;
                    border: 0;
                    border-spacing: 20px 10px;
                    border-collapse: collapse;
                    // border-collapse: collapse;

                    // border-collapse: initial;
                    font-size: 14px;
                    td {
                        padding: 15px 30px;
                    }
                    thead {
                        font-weight: bold;
                    }
                    tbody {
                        tr {
                            font-size: 14px;
                        }
                    }
                    tfoot {
                        background-color: $deeppurple;
                        color: $offwhite;
                        td {
                            padding: 20px 30px;
                        }
                    }
                }
            }
        }

        // height: 300px;
    }

    @media screen and (max-width: 768px) {
    }
}
