header {
    display: flex;
    width: 100%;
    height: 75px;
    background-color: $purple3;
    justify-content: space-between;
    z-index: 2;
    &.menu-container {
        #logo {
            max-width: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1;

            background-color: $purple1;
            border-radius: 0 18px 18px 0;
            position: relative;
            overflow: hidden;
            img {
                z-index: 1;
            }
            &:after {
                display: block;
                content: "";
                height: 50%;
                width: 100%;
                background-color: $purple2;
                position: absolute;
                bottom: 0;
                // right: 10px;
                border-top-left-radius: 40px;
                z-index: 0;
            }
        }
        #menu {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex: 3;
            #avatar {
                display: flex;
                align-items: center;
                padding: 0 30px;
                height: 100%;
                border-left: 1px solid $offwhite;

                img {
                    height: 30px;
                    width: 30px;

                    border-radius: 50%;
                }
            }
            #theme-switcher {
                padding: 20px;
            }
        }
    }
}
@media screen and (min-width: 768px) {
    header {
        width: 100px;
        height: 100vh;
        flex-direction: column;
        border-radius: 0 18px 18px 0;
        &.menu-container {
            #logo {
                height: 100px;
                max-width: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex: none;

                background-color: $purple1;
                border-radius: 0 18px 18px 0;
                position: relative;
                overflow: hidden;
                img {
                    z-index: 1;
                }
                &:after {
                    display: block;
                    content: "";
                    height: 50%;
                    width: 100%;
                    background-color: $purple2;
                    position: absolute;
                    bottom: 0;
                    // right: 10px;
                    border-top-left-radius: 40px;
                    z-index: 0;
                }
            }
            #menu {
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                align-items: center;
                flex: none;
                #avatar {
                    display: flex;
                    align-items: center;
                    padding: 30px;
                    border-top: 1px solid $offwhite;
                    border-left: none;
                    height: auto;
                    img {
                        height: 30px;
                        width: 30px;
                        border-radius: 50%;
                    }
                }
                #theme-switcher {
                    padding: 20px;
                }
            }
        }
    }
}
