$purple1:#7C5DFA;
$purple2: #9277FF;
$purple3 : #252945;
$offwhite: #DFE3FA;
$grey: #F8F8FB;
$darkgreen : #33D69F;
$lightgreen: lighten($darkgreen,0.0570882161);
$orange:#FF8F00;
$deeppurple: #373B53;
$red : #EC5757;
$black: #888EB0;
